<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/default-form.css' %}">
    <title>Doação</title>
</head>
<body>
    <div class="col-md-5 form_father" style="margin: 50px auto">
        <h1 class="text-center title">Cadastro Doação</h1>
        <form method="post" action="{% if db %}/updateDoacao/{{db.id}}/{% else %}/createDoacao/{% endif %}">
            <div class="form-group">
                <table>
                        {% csrf_token %}
                        <p>
                            <label for="Instituicoes">Instituição</label>
                            <select name="Instituicoes" id="Instituicoes">
                                <option value="#"></option>
                                {% for institution in institutions %}
                                <option value="{{institution.id}}">{{institution.email}}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <p>
                            <label for="User">Usuário</label>
                            <select name="User" id="User">
                                <option value="#"></option>
                                {% for user in users %}
                                <option value="{{user.id}}">{{user.email}}</option>
                                {% endfor %}
                            </select>
                        </p>
                        {{doacao.as_p}}
                    <tr>
                        <th></th>
                        <td><br><br><a href="/" class="btn btn-info col-md-2">Voltar</a><button type="submit" class="btn btn-success col-md-2">Salvar</button></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>
</html>