<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/default.css' %}">
        <title>Happy</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" onclick="showHome(true)" href="#">HAPPY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li id="institution-li" onclick="showInstitution(true, this)" class="nav-item">
                <a class="nav-link" href="#">Instituições</a>
            </li>
            <li id="user-li" onclick="showUser(true, this)" class="nav-item">
                <a class="nav-link" href="#">Usuarios</a>
            </li>
            <li id="donation-li" onclick="showDonation(true, this)" class="nav-item">
                <a class="nav-link" href="#">Doações</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ações
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/cadastro">Cadastrar Instituição</a>
                    <a class="dropdown-item" href="cadastro2">Cadastrar Cliente</a>
                    <a class="dropdown-item" href="doacao">Doação</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div style="display: none" id='institution' class="container">
    <div class="row">
        <div class="col-sm">

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1 class="text-center">Instituições Cadastradas</h1>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col"># ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Atividade</th>
                    <th scope="col">Descricao</th>
                    <th scope="col">CEP</th>
                    <th scope="col">Bairro</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for institution in institutions %}
                <tr>
                    <th>{{institution.id}}</th>
                    <td>{{institution.name}}</td>
                    <td>{{institution.email}}</td>
                    <td>{{institution.celular}}</td>
                    <td>{{institution.atividade}}</td>
                    <td>{{institution.descricao}}</td>
                    <td>{{institution.cep}}</td>
                    <td>{{institution.bairro}}</td>
                    <td>{{institution.endereco}}</td>
                    <td>
                        <a href="/edit/{{institution.id}}/" class="btn btn-primary">Editar</a>
                        <a href="/delete/{{institution.id}}/" class="btn btn-danger">Apagar</a>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="display: none" id='user' class="container">
    <div class="row">
        <div class="col-sm">

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1 class="text-center">Clientes Cadastrados</h1>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th scope="col"># ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{user.id}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.celular}}</td>
                    <td>
                        <a href="/edit2/{{user.id}}/" class="btn btn-primary">Editar</a>
                        <a href="/delete2/{{user.id}}/" class="btn btn-danger">Apagar</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="display: none" id='donation' class="container">
    <div class="row">
        <div class="col-sm">

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h1 class="text-center">Doações Cadastradas</h1>
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th scope="col"># ID</th>
                    <th scope="col">Id Instituicao</th>
                    <th scope="col">Id Usuario</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for doacao in doacoes %}
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{{doacao.id}}</th>
                    <td>{{doacao.Instituicoes_id}}</td>
                    <td>{{doacao.User_id}}</td>
                    <td>{{doacao.valor}}</td>
                    <td>
                        <a href="/editDoacao/{{doacao.id}}/" class="btn btn-primary">Editar</a>
                        <a href="/deleteDoacao/{{doacao.id}}/" class="btn btn-danger">Apagar</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id='home' class="container">
    <div class="row">
        <div class="col-sm">

        </div>
    </div>
    <div class="row">
        <div class="col-sm title">
            <h1 class="text-center">Bem vindo(a) ao HAPPY!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center welcome-text white-text">
            <p>Bem vindo ao nosso site :)</p>
            <p>Aqui você podera realizar todas as boas ações diretamente da onde estiver, basta ter acesso a internet :)</p>
            <p>por enquanto teremos apenas a visão do admin, que é esta mesmo 0.0</p>
            <p>aqui você podera Criar Usuarios, Instituições e Simular doações :)</p>
            <p>Espero que goste!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm  welcome-text white-text">
            <p class="text-center">Criar Usuarios:</p>
            <ul>
                <li><p>Encontre o Menu Superior</p></li>
                <li><p>Clique em Ações</p></li>
                <li><p>Clique em Cadastrar Usuario</p></li>
            </ul>
            <p class="text-center">Prontinho!, agora basta preencher o formulario e salvar. Mas como vou saber se o Usuario foi criado ?</p>
            <ul>
                <li><p>Encontre o Menu Superior</p></li>
                <li><p>Clique em Usuarios</p></li>
                <li><p>Agora é só encontrar o Usuario que foi Criado : )</p></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm  welcome-text white-text">
            <p class="text-center">Criar Instituições:</p>
            <ul>
                <li><p>Encontre o Menu Superior</p></li>
                <li><p>Clique em Ações</p></li>
                <li><p>Clique em Cadastrar Instituição</p></li>
            </ul>
            <p class="text-center">Prontinho!, agora basta preencher o formulario e salvar. Mas como vou saber se a Instituição foi criada ?</p>
            <ul>
                <li><p>Encontre o Menu Superior</p></li>
                <li><p>Clique em Instituições</p></li>
                <li><p>Agora é só encontra-la e checar : )</p></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm  welcome-text white-text">
            <p class="text-center">Simular uma doação:</p>
            <ul>
                <li><p>Encontre o Menu Superior</p></li>
                <li><p>Clique em Ações</p></li>
                <li><p>Clique em Doação</p></li>
            </ul>
            <p class="text-center">Prontinho!, agora basta preencher o formulario e salvar. Mas como vou saber se a doação foi efetuada ?</p>
            <ul>
                <li><p>Encontre o Menu Superior</p></li>
                <li><p>Clique em Doações</p></li>
                <li><p>Agora é só encontrar é só conferir : )</p></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
<script>
    function showHome(active){
        if (active === true){
            document.getElementById('home').style.display = "block";
            showInstitution(false);
            showUser(false);
            showDonation(false);
        }else{
            document.getElementById('home').style.display = "none";
        }
    }
    function showInstitution(active, element){
        if (active === true){
            document.getElementById('institution').style.display = "block";
            addClass(element, 'active')
            showHome(false);
            showUser(false);
            showDonation(false);
        }else{
            delClass(document.getElementById('institution-li'),'active')
            document.getElementById('institution').style.display = "none";
        }
    }
    function showUser(active, element){
        if (active === true){
            addClass(element, 'active')
            document.getElementById('user').style.display = "block";
            showHome(false);
            showInstitution(false);
            showDonation(false);

        }else{
            delClass(document.getElementById('user-li'),'active')
            document.getElementById('user').style.display = "none";
        }
    }
    function showDonation(active, element){
        if (active === true){
            addClass(element, 'active')
            document.getElementById('donation').style.display = "block";
            showHome(false);
            showInstitution(false);
            showUser(false);
        }else{
            delClass(document.getElementById('donation-li'),'active')
            document.getElementById('donation').style.display = "none";
        }
    }
    function addClass(elemento, classe) {
        var classes = elemento.className.split(' ');
        var getIndex = classes.indexOf(classe);

        if (getIndex === -1) {
            classes.push(classe);
            elemento.className = classes.join(' ');
        }
    }

    function delClass(elemento, classe) {
        var classes = elemento.className.split(' ');
        var getIndex = classes.indexOf(classe);

        if (getIndex > -1) {
            classes.splice(getIndex, 1);
        }
        elemento.className = classes.join(' ');
    }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>