<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Hello World</title>
</head>
<body>


<div class="container-center">
    <div class="page-header text-center">
        <h1>Tela Inicial</h1>
    </div>
    <div class="button-group text-center">
        <a href="/cadastro"><input type="button" class="btn btn-primary btn-lg" value="Cadastro de Instituicao"></a>
        <a href=""><input type="button" class="btn btn-primary btn-lg" value="Lista de Clientes"></a>	
    </div>	
    {{estados}}
</div>
</body>
</html>